/*Quick Reset*/
html, body {
    min-height: 100%;
    height: 100%;
}
.fullheight {
  height:100%;
}

/*Text properties*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
}
.bold {
  font-weight:700;
}
.text-white {
  color:white;
}
.text-black {
  color: #373a3c;
}
.header {
  font-weight:300;
  font-size:50px;
}
.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    line-height: 1.42857;
    font-size:small;
}

/*Attributes significant to individual elements*/
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: inherit;
  height: auto;
  z-index: -101;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color:black;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
#atlasLogo {
  width: 100%;
  max-width:400px;
  height: auto;
}
#navbar {
  transition: background-color .2s;
}
#map{
  height:100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 200;
  min-height: 300px;
}
#top {
  margin-bottom: 0;
}

/*Colors/theme (look and feel of the website)*/
.btn-primary{
  background-color: #ae8648;
  border-color: #ad8448;
  transition: all .2s;
}
.btn-primary:hover{
  background-color: #6F4E37;
  border-color: #6F4E37;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #5c412d;
    border-color: #5c412d;
}
.btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5c412d;
  border-color: #5c412d;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #5c412d;
    border-color: #5c412d;
}
.bg-transparent {
  background-color: transparent;
  /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.57);*/
}
.bg-coffee {
  background-image:url(../media/coffee_beans.jpg);
  background-size: cover;
  background-position: center;
}
.bg-light-gray {
  background-color: #f4f4f4;
}
section {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
}
hr {
  width: 100px;
  border-color: #ae8648;
  border-width: 2px;
  margin-top:1.2em;
  margin-bottom:1.5em;
}

/*Parallax window attributes*/
.parallax-window {
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Our Team 'Person'*/
.person {
  text-align: center;
  margin-bottom: 40px;
}
.person .img-container {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto 0 auto;
}
.img-container img{
  width:100%;
  height: auto;

}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/*'Instagram Feed' CSS*/
.fh5co-press-item {
    background: #fff;
    float: left;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    width:100%;
}
.fh5co-press-item .fh5co-press-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-position: center;
}
.fh5co-press-item .fh5co-press-text, .fh5co-press-item .fh5co-press-img {
    width: 50%;
}
.fh5co-press-item .fh5co-press-text {
    float: left;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 40px;
    height: 300px;
    overflow: scroll;
}
.fh5co-press-text {
  padding-bottom: 1.5em;
}
.fh5co-like {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: .5em;
    background-color: white;
}

/*UTILITIES*/

/*Centering Utility*/
.m-x-auto {
  display: block;
}

/*flexbox stretch*/
.full_height_parent{
  display: flex;
}
.full_height_child {
  align-items: stretch;
}
